
body {
  margin: 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: linear-gradient(#111, #333);
  border: 2px solid #666;
}
